@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Raleway:wght@200;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Raleway:wght@200;400;500;600&family=Saira+Extra+Condensed:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}
body{
    font-family:'Raleway', sans-serif;
}
/* ::-webkit-scrollbar{
    width: 0.6rem;
    border-radius: 0.3rem;
    background-color: #077acc;
} 
.nav-header ul li{
    padding: 0.3rem .8rem;
    border-radius: 0.2rem;
    outline: none;
    border: none;
    transition: all .10s ease-in;
    letter-spacing: 0.1ch;
}
.nav-header ul li:hover{
    
}*/
.nav-header ul a{
    @apply flex items-center gap-1 hover:text-main font-bold text-black/70;
}
.nav-header ul a.active{
    @apply text-main;
    opacity: 1;
}
.nav-header ul a.transition{
    opacity: 0;
    background-color: orange;
}

input[type="text"],
select,
input[type="email"],
input[type="password"]{
    @apply border-2 border-gray-200 rounded-md form-input rounded-md
           focus:outline-none focus:border-2 focus:border-main/50 p-1.5;
}
select{
    @apply cursor-pointer;
}
label{
    @apply mb-2 text-zinc-500 font-semibold text-xsm;
}

.img-wrapper{
    position: relative;
    z-index: 1;
    @apply rounded;
}
.img-wrapper::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px double rgb(239 246 255);
    top: 2rem;
    right: -2rem;
    z-index: -1;
    @apply rounded;
}
.img-wrapper::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px double rgb(191 219 254);
    top: -2rem;
    left: -2rem;
    z-index: -1;
    @apply rounded;
}